In [ ]:
#  ! pip install pymc3 arviz numpy pandas seaborn

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns       
from IPython.display import display
URL = "https://raw.githubusercontent.com/dustywhite7/Econ8310/master/AssignmentData/cookie_cats.csv"
df = pd.read_csv(URL)
df.head()              
df.info()             
df['version'].value_counts()

summary = df.groupby('version').agg(
    n_users    = ('userid',      'size'),
    ret1_succ  = ('retention_1', 'sum'),
    ret1_fail  = ('retention_1', lambda x: x.size - x.sum()),
    ret7_succ  = ('retention_7', 'sum'),
    ret7_fail  = ('retention_7', lambda x: x.size - x.sum()),
).reset_index()

display(summary)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

   version  n_users  ret1_succ  ret1_fail  ret7_succ  ret7_fail
0  gate_30    44700      20034      24666       8502      36198
1  gate_40    45489      20119      25370       8279      37210